form {
    display: block;
    padding: 0.4rem;
    width: 15%;
    margin: 40px 80px;
    border: 3px solid;
    height: 200px;
    padding: 20px;
    border-radius: 8px;
    background: #bed6be6b;
}

input,
label {
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 0px 0px 2px 4px;
    background-color: white;
}

label {
    max-width: 166.4px;
}

input {
    width: 166px;

}

.add-recipe-form {
    width: 20%;
    margin: 40px 80px;
}
.add-ingredient-btn {
    margin: 25px 0 0 190px;
    display: block;
}