.single-ingredient {
    display: flex;
}
.single-ingredient p {
    margin: 5px;
}
.basic-btn {
    text-decoration: none;
    color: black;
    border-radius: 8px;
    margin: 2px;
    padding: 10px;
    background: #CCCBCA;
}
.basic-form {
    display: block;
    padding: 0.4rem;
    width: 15%;
    margin: 40px 80px;
    border: 3px solid;
    height: 200px;
    padding: 20px;
    border-radius: 8px;
    background: #bed6be6b;
}

