@import url('http://fonts.cdnfonts.com/css/athletic-outfit');
.logo {
    font-family: 'Athletic Outfit', sans-serif;                                            
}
.category-link, .upper-link {
    font-family: 'Louis George Café', sans-serif;
    font-size: 20px;
    font-weight: bold;
}