@import url('http://fonts.cdnfonts.com/css/louis-george-cafe');

header {
    margin-left: 28px;
}

.upper-navbar {
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-left: 2px;
}

.header-link {
    list-style: none;
    margin-top: 15px;
}

.logo {
    font-size: 60px;
    text-decoration: none;
    color: #4b2591;
}

.logo:hover {
    color: #2c1557;
}

.right a {
    border: 2px solid;
}

.category-link {
    color: black;
    text-decoration: none;
    padding: 13px 100px 13px 90px;
    border-radius: 10px;
}

.category-link:hover {
    padding: 16px 103px 16px 93px;
    color: #2c1557;
}

.category-list {
    display: flex;
    padding: 20px 0px 15px;
    width: 100%;
    margin: 20px 20px 0 0px;
    list-style: none;
    justify-content: space-evenly;
}

.meat {
    background-color: #DB8C3D;
}

.fish {
    background-color: #1191AB;
}

.vegetarian {
    background-color: #BED667;
}

.dessert {
    background-color: #a13b78;
}

@media screen and (max-width: 769px) {
    .logo {
        padding: 0;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    .upper-navbar {
        display: block;
    }

    .logo {
        display: block;
        font-size: 40px;
    }

    .category-list {
        display: block;
    }

    .category-link {
        padding: 10px;
    }

    .category-li {
        height: 50px;
    }

    .header-list {
        display: inline-block;
        margin-top: 10px;

    }

    .header-link {
        width: 100px;
        margin: 20px;
    }
}